{% extends 'encyclopedia/layout.html' %}

{% block title %}
  Encyclopedia
{% endblock %}

{% block body %}
  <h1>New Entry</h1>
  <form action="{% url 'new_entry' %}" method="POST">
    {% csrf_token %}
    <div>
      <label for="title">Title:</label>
      <input type="text" name="title" id="title" placeholder="Enter a title" />
    </div>
    <div>
      <br />
      <label for="content">Markdown Content:</label>
      <br />
      <textarea name="content" id="content" cols="2" rows="20"></textarea>
    </div>
    <input type="submit" value="New Entry" class="btn btn-primary" />
  </form>
{% endblock %}
